@{
    Layout = null;
}

<div id="footer">
  <div class="container">
    <p class="text-muted credit text-center">Tiza Solution Production 2014 <a href="http://tiza-solution.com">CV Tiza Solution</a></p>
  </div>
</div> 

