<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tiza Public Web Template</title>

    <!-- Bootstrap -->
    <link href="Content/bootstrap.min.css" rel="stylesheet">
    <link href="Content/tiza-custom.css" rel="stylesheet">
	<link rel="stylesheet" href="Content/font-awesome.min.css">

    


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
	<div class="navbar navbar-inverse navbar-fixed-top">
	  <div class="container">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	    </div>
	    <div class="collapse navbar-collapse">
	      <ul class="nav navbar-nav">
	        <li class="active"><a href="#">Home</a></li>
	        <li><a href="#about">Product</a></li>
	        <li><a href="#contact">Services</a></li>
	        <li><a href="#contact">Support</a></li>
	      </ul>
	    </div><!--/.nav-collapse -->
	  </div>
	</div>
	    <div class="jumbotron">
	    	<div class="container-fluid">
	    		<div class="row">
					<div class="col-md-8">
						<h1 id="ITSimple">Make IT Simple</h1>
						<p id="tagline">GIS Software - Consulting - Training - Support</p>
						<i id="fb1" class="fa fa-facebook-square"></i>  <small>Tiza Solution</small> | 
						<i class="fa fa-twitter-square"></i>  <small>@tizasolution</small> |
						<i class="fa fa-envelope"></i> <small>info [at] tiza-solution.com</small>
	<!--					<p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>-->
					</div>
					<div class="col-md-4">
						<img src="images/tiza-webLayout_03.gif" class="img-responsive">
					</div>
	    		</div>
	    	</div>    
		</div>
		<div class="container">
			<div class="row">
				<div id="img_front1" class="col-md-4 text-center">
					<div id="imgwr1" class="image">
						<img id="img1" src="images/app1.jpg" class="img-thumbnail">
						<div class="description">
							<p class="desc_content">Our Flexible GIS Based Application ready to deploy on your premise</p>
						</div>
					</div>
					<p></p>
					<p><a class="btn btn-default" href="#">View details »</a></p>
				</div>
				<div id="img_front2" class="col-md-4 text-center">
					<div id="imgwr2" class="image">
						<img id="img2" src="images/train1.jpg" class="img-thumbnail">
						<div class="description">
							<p class="desc_content">Our flexible training methodology will give more benefits for your working time</p>
						</div>
					</div>
					<p></p>
					<p><a class="btn btn-default" href="#">View details »</a></p>
				</div>
				<div id="img_front3" class="col-md-4 text-center">
					<div id="imgwr3" class="image">
						<img id="img3" src="images/consult1.jpg" class="img-thumbnail">
						<div class="description">
							<p class="desc_content">Our experience in IT consulting will give the best services for you</p>
						</div>
					</div>
					<p></p>
					<p><a class="btn btn-default" href="#" style="vallign:center";>View details »</a></p>
				</div>
			</div>
		</div>
		<div class="blurb bright">
		  <div class="row">
		      <div class="col-md-6 col-md-offset-3 text-center">
		        <h3>See our Demo</h3>
		        <br>
		      </div>
		  </div>
		  <div class="row">
		    <div class="col-sm-4 col-sm-offset-2">
		         <div class="panel panel-default">
		         <div class="panel-heading text-center"><h2><i class="icon-chevron-left"></i>Sample Application for guest only</h2></div>
		         <div class="panel-body text-center">This demo only to display sample map in Banjarmasin City with aerial map,administrative layer, district, road and some infrastructure. No login need for this demo but you can share our link to facebook or twitter to help us
		         <hr>
		          <button class="btn btn-lg btn-primary btn-block">Login</button> 
		          </div>
		         </div>
		 	</div>
		    <div class="col-sm-4">
		         <div class="panel panel-default">
		         <div class="panel-heading text-center"><h2>Sample Application with admin Feature<i class="icon-chevron-right"></i></h2></div>
		         <div class="panel-body text-center">This demo will display some administrative tools in our system, so you can edit map, generate some report and many others tools that related with administrative roles of GIS application in particularry. Please use this login and password for testing purpose<hr>
		          <button class="btn btn-lg btn-primary btn-block">Sign Up</button> 
		           
		          </div>
		         </div>
		 	</div>
		  </div>
		</div>

    <div id="footer">
      <div class="container">
        <p class="text-muted credit text-center">Tiza Solution Production @2014 <a href="http://tiza-solution.com">CV Tiza Solution</a></p>
      </div>
    </div> 

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>